.createSubAdminBtn{
    background-color: #5a99e8;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px;
    color: #ffffff;
    border: 1px solid #5a99e8;
    padding: 0px 30px;
}