@import "../../style/theme.style";

.companyDetails {
  padding: 10px 10px;
  margin: 10px auto;
  max-width: 800px;
}

.editBtn {
  cursor: pointer;
}

.editCompLogo {
  cursor: pointer;
}

.companydetailsDiv {
  display: flex;
  flex-direction: column;
}

.companyCard {
  background-color: $card_background;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
}
