@import "../../style/theme.style";

.companyDetails {
    background-color: $card_background;
    padding: 10px 10px;
    margin: 10px 0px;
}

.goback{
    cursor: pointer;
}
.editBtn{
    cursor: pointer;
}