.payslipsDetails {
    // background-color: $card_background;
    padding: 10px 10px;
    margin: 10px 0px;
}

.goback {
    cursor: pointer;
}

.childdiv{
    max-width: 500px;
}

.form16card{
    cursor: pointer;
}