@import "../../../style/theme.style";

.form_width {
  max-width: 500px;
  margin: 30px auto 30px auto;
  background-color: $card_background;
  padding: 30px;

  .form-control {
    border: 0 !important;
    box-shadow: none;
    border-radius: 0;
  }

  .pri-term {
    background-color: transparent;
    color: $button_color;
    border: none;
  }

  .btn_submit {
    background-color: $button_color;
    color: $default_white;
    width: 100%;
    padding: 15px 0;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
  }

  .login_link {
    color: $button_color;
    font-weight: 600;
    text-decoration: none;
  }
}
