.form_width {
    max-width: 500px;
    margin: 30px auto 30px auto;
    background-color: #175592;
    padding: 30px;

    .form-control {
        border: 0 !important;
        box-shadow: none;
        border-radius: 0;
    }

    .pri-term {
        background-color: transparent;
        color: #5a99e8;
        border: none;
    }

    .btn_submit {
        background-color: #5a99e8;
        color: #f3f3f3;
        width: 100%;
        padding: 15px 0;
        border: 0;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 600;
    }

    .login_link {
        color: #5a99e8;
        font-weight: 600;
        text-decoration: none;
    }
}