@import "../../style/theme.style";

.subAdminDiv {
  .subAdminCard {
    border-radius: 0px;
    width: 50%;
    background-color: $card_background;
  }

  .subAdminInp {
    height: 50px;
    padding: 0px 10px;
    outline: none;
    border-radius: 0px;
    border: 1px solid $button_color;
  }

  .role-dropdown {
    height: 50px;
    padding: 0px 10px;
    outline: none;
    border-radius: 0px;
    border: 1px solid $button_color;
    box-shadow: none;
  }

  .backLink {
    text-decoration: underline;
    cursor: pointer;
  }
}

// ! mobile
/* mobile CSS */
@media (max-width: 767px) {
  .subAdminDiv {
    .subAdminCard {
      width: 100%;
    }
  }
}

/* Tab CSS */
@media (min-width: 768px) and (max-width: 991px) {
  .subAdminDiv {
    .subAdminCard {
      width: 100%;
    }
  }
}
