.sidebar {
  background-color: #175592;
  padding: 30px 0;
  min-height: 100vh;
  position: sticky;
  top: 0;
  .sidebar_options {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 10px 15px;
      .sidebar_link {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}
