@import "./../../style/theme.style";

.sidebar {
  background-color: $card_background;
  padding: 30px 0;
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: auto;
  z-index: 1029;
  .sidebar_options {
    list-style: none;
    padding: 0;
    margin: 0;
    .sidebar_link {
      font-size: 18px;
      color: $default_white;
      text-decoration: none;
      font-weight: 600;
      padding: 5px 15px;
      display: block;
    }
    .sidebar_link.active {
      color: #00ffff;
    }
    .accordion-item {
      background-color: transparent !important;
      border: 0 !important;
    }
    .accordion-button {
      background-color: transparent !important;
      box-shadow: none !important;
      font-size: 18px;
      color: $default_white;
      font-weight: 600;
      padding: 5px 15px !important;
    }
    .accordion-collapse {
      height: auto !important;
    }
    .accordion-button:after {
      width: 15px !important;
      height: 15px !important;
      color: #fff !important;
      background-image: url("../../assets/dropdown.png") !important;
      background-size: contain !important;
      transform: rotate(90deg);
    }
    .collapsed.accordion-button:after {
      transform: rotate(0deg);
    }
    .accordion-body {
      padding: 0 !important;
      .sidebar_link {
        font-size: 15px;
        margin: 0px 15px 5px 20px;
        padding: 0 !important;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 767px) {
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    transition: all 0.2s;
    height: 100vh;
    .sidebar_options {
      margin-top: 50px;
    }
  }
}
.sidebar.close {
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    left: -100%;
  }
}
.accordion-button {
  background-color: #97d8e6 !important;
}

.sidebarTest {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.react-datepicker-popper {
  z-index: 999 !important;
}
