@import "../../style/theme.style";

.fieldsDetails {
  // background-color: $card_background;
  padding: 10px 10px;
  margin: 10px 0px;
}

.goback {
  cursor: pointer;
}

.tableName {
  text-transform: capitalize;
}

.tableData {
  th {
    color: $default_white;
  }

  td {
    color: $default_white;
  }
}

.modal-content {
  background-color: $card_background !important;
}

.modal-header {
  background-color: $default_white;
}

.deleteLogo {
  height: 25px;
  width: 25px;
  margin: 3px;
  cursor: pointer;
}

.customInp {
  height: 40px;
  outline: none;
  border: 1px solid $default_black;
}

.dropdownTable {
  height: 40px;
  outline: none;
  border: 1px solid $default_black;
}
