@import "../../style/theme.style";

.header_style {
  background-color: $card_background;
  box-shadow: 0px 0px 4px $default_black;
  z-index: 1030;
}

.dprdwn {
  .dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }
  .dropdown-toggle {
    padding: 0;
  }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    width: 35px;
    height: 35px;
    background-image: url(../../assets/profile.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
