.formforgot_width {
  max-width: 500px;
  margin: 90px auto 30px auto;
  background-color: #175592;
  padding: 30px;
  .form-control {
    border: 0 !important;
    box-shadow: none;
    border-radius: 0;
  }
  .login_link {
    color: #5a99e8;
    font-weight: 600;
    text-decoration: none;
  }
  .forgot_link {
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    background: #5a99e8;
    color: #fff;
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 6px;
  }
}
