@import "../../style/theme.style";

.leves_style {
  max-width: 750px;
  margin: 30px auto;
  .half_day {
    background-image: linear-gradient(
      to right,
      $card_background 50%,
      #d8fbfe 55%
    );
    padding: 4px 12px;
    color: $default_white;
    border-radius: 15px;
  }
  .more_day {
    background-color: $card_background;
    padding: 4px 12px;
    color: $default_white;
    border-radius: 15px;
  }
}
.react-datepicker__day--selected {
  background-color: transparent !important;
  color: $date_color !important;
}
.react-datepicker__day--selected.react-datepicker__day--highlighted,
.react-datepicker__day--highlighted {
  background-color: $date_bgselect !important;
  color: $default_white !important;
}
.halfday .react-datepicker__day--selected.react-datepicker__day--highlighted,
.halfday .react-datepicker__day--highlighted {
  background-image: linear-gradient(to right, $date_bgselect 50%, #f10814 55%);
}
